@charset "utf-8";

button {
    border: none;
    height: 40px;
    border-radius: 3px;
    cursor: pointer;

    &.black {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 18px;
        color: #fff;
        background-color: #000;
        font-size: 16px;
        line-height: 21px;
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: normal;
        margin-left: 20px;
    }

    &.black img {
        margin-right: 6px;
    }

    &.white {
        background-color: #fff;  
        padding: 15px 20px;
        font-family: Verdana;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #000000;

        &:hover {
            color: #333333;
            background-color: rgba(255, 255, 255, 0.7);
        }
    }
}

a.btn {

    display: block;
    width: max-content;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    padding: 15px 20px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    transition: 0.4s;

    &.white {
        background-color: #FFFFFF;  
        color: #000000;

        &:hover {
            color: #333333;
            background-color: rgba(255, 255, 255, 0.7);
        }
    }

    &.t-white {
        font-family: 'PT Sans';
        line-height: 21px;
        background-color: transparent;  
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 3px;
        padding: 5px 10px;
    }


    &.grey {
        background-color: #333333;
        color: #FFFFFF;

        &:hover {
            background: #707070;
        }
    }
}

