/* FONTS */

/*CoFo*/

@font-face {
    font-family: 'CoFo Sans';
    src: url('../../fonts/cofo/CoFoSans-Bold.eot');
    src: local('CoFo Sans Bold'), local('CoFoSans-Bold'),
        url('../../fonts/cofo/CoFoSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/cofo/CoFoSans-Bold.woff2') format('woff2'),
        url('../../fonts/cofo/CoFoSans-Bold.woff') format('woff'),
        url('../../fonts/cofo/CoFoSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CoFo Sans';
    src: url('../../fonts/cofo/CoFoSans-Black.eot');
    src: local('CoFo Sans Black'), local('CoFoSans-Black'),
        url('../../fonts/cofo/CoFoSans-Black.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/cofo/CoFoSans-Black.woff2') format('woff2'),
        url('../../fonts/cofo/CoFoSans-Black.woff') format('woff'),
        url('../../fonts/cofo/CoFoSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'CoFo Sans';
    src: url('../../fonts/cofo/CoFoSans-Regular.eot');
    src: local('CoFo Sans'), local('CoFoSans-Regular'),
        url('../../fonts/cofo/CoFoSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/cofo/CoFoSans-Regular.woff2') format('woff2'),
        url('../../fonts/cofo/CoFoSans-Regular.woff') format('woff'),
        url('../../fonts/cofo/CoFoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CoFo Sans';
    src: url('../../fonts/cofo/CoFoSans-Medium.eot');
    src: local('CoFo Sans Medium'), local('CoFoSans-Medium'),
        url('../../fonts/cofo/CoFoSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/cofo/CoFoSans-Medium.woff2') format('woff2'),
        url('../../fonts/cofo/CoFoSans-Medium.woff') format('woff'),
        url('../../fonts/cofo/CoFoSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'CoFo Robert';
    src: url('../../fonts/cofo/CoFoRobert-RegularItalic.eot');
    src: local('CoFo Robert Italic'), local('CoFoRobert-RegularItalic'),
        url('../../fonts/cofo/CoFoRobert-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/cofo/CoFoRobert-RegularItalic.woff2') format('woff2'),
        url('../../fonts/cofo/CoFoRobert-RegularItalic.woff') format('woff'),
        url('../../fonts/cofo/CoFoRobert-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/*PT Sans*/

@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans'), local('PTSans-Regular'), url('../../fonts/ptsans/ptsans.woff2') format('woff2'), url('../../fonts/ptsans/ptsans.woff') format('woff'), url('../../fonts/ptsans/ptsans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans Italic'), local('PTSans-Italic'), url('../../fonts/ptsans/ptsansitalic.woff2') format('woff2'), url('../../fonts/ptsans/ptsansitalic.woff') format('woff'), url('../../fonts/ptsans/ptsansitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans Bold'), local('PTSans-Bold'), url('../../fonts/ptsans/ptsansbold.woff2') format('woff2'), url('../../fonts/ptsans/ptsansbold.woff') format('woff'), url('../../fonts/ptsans/ptsansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url('../../fonts/ptsans/ptsansbolditalic.woff2') format('woff2'), url('../../fonts/ptsans/ptsansbolditalic.woff') format('woff'), url('../../fonts/ptsans/ptsansbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/*Verdana*/

@font-face {
    font-family: 'Verdana';
    src: url('../../fonts/verdana/Verdana-BoldItalic.eot');
    src: local('Verdana Bold Italic'), local('Verdana-BoldItalic'),
        url('../../fonts/verdana/Verdana-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/verdana/Verdana-BoldItalic.woff2') format('woff2'),
        url('../../fonts/verdana/Verdana-BoldItalic.woff') format('woff'),
        url('../../fonts/verdana/Verdana-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Verdana';
    src: url('../../fonts/verdana/Verdana-Italic.eot');
    src: local('Verdana Italic'), local('Verdana-Italic'),
        url('../../fonts/verdana/Verdana-Italic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/verdana/Verdana-Italic.woff2') format('woff2'),
        url('../../fonts/verdana/Verdana-Italic.woff') format('woff'),
        url('../../fonts/verdana/Verdana-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Verdana';
    src: url('../../fonts/verdana/Verdana.eot');
    src: local('Verdana'),
        url('../../fonts/verdana/Verdana.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/verdana/Verdana.woff2') format('woff2'),
        url('../../fonts/verdana/Verdana.woff') format('woff'),
        url('../../fonts/verdana/Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Verdana';
    src: url('../../fonts/verdana/Verdana-Bold.eot');
    src: local('Verdana Bold'), local('Verdana-Bold'),
        url('../../fonts/verdana/Verdana-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/verdana/Verdana-Bold.woff2') format('woff2'),
        url('../../fonts/verdana/Verdana-Bold.woff') format('woff'),
        url('../../fonts/verdana/Verdana-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* END - FONTS */

:root {
    --heading-color: #276f97;
    --text-color: #363636;
    --heading-color-light: #4a8aad;
}


/* Указываем box sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}

audio {
    display: none;
}


/* Убираем внутренние отступы */

ul,
ol {
    padding: 0;
}


/* Убираем внешние отступы */

body,
h2,
h3,
h4,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

a {
    color: inherit;
}


/* Выставляем основные настройки по-умолчанию для body */

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    overflow-x: hidden;
}


/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul, ol {
    &[class] {
        list-style: none;
    }
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
    text-decoration-skip-ink: auto;
}


/* Упрощаем работу с изображениями */

img {
    max-width: 100%;
    display: block;
}


/* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
    margin-top: 1em;
}


/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
    font: inherit;
}


/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms;
        animation-iteration-count: 1;
        transition-duration: 0.01ms;
        scroll-behavior: auto;
    }
}


/*My style*/

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    position: relative;

    &.no-relative {
        position: inherit;
    }

    & .framing {
        &.start {
            position: absolute;
            z-index: 1;
            top: -40px;
            left: -60px;
        }
    
        &.end {
            transform: rotate(180deg);
            position: absolute;
            z-index: 1;
            bottom: -40px;
            right: -60px;
        }
    }
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;

    &.jc-sb {
        justify-content: space-between;
    }

    &.jc-sa {
        justify-content: space-around;
    }

    &.ai-fs {
        align-items: flex-start;
    }
}

.underline {
    border-bottom: 1px solid #4a4a4a;
    width: max-content;
}

form {
    margin-bottom: 0;
}

input[type='text'] {
    outline: none;
    height: 40px;
    border: 1px solid rgba(51, 51, 51, 0.5);
    box-sizing: border-box;
    border-radius: 3px;
    padding: 0 18px;
}

input[type='range'] {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    outline: none;
    background: linear-gradient(to right, #5da6cf 0%, #5da6cf 0%, #e8e8e8 0%, #e8e8e8 100%);


    &::-moz-range-track {
        -moz-appearance: none;
        width: 100%;
        height: 2px;
        outline: none;
        background: -moz-linear-gradient(to right, #5da6cf 0%, #5da6cf 0%, #e8e8e8 0%, #e8e8e8 100%);
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 12px;
        height: 12px;
        background: #5da6cf;
        border-radius: 50%;
    }

    &::-moz-slider-thumb {
        -webkit-appearance: none;
        width: 12px;
        height: 12px;
        background: #5da6cf;
        border-radius: 50%;
    }
}

input:focus {
    outline: 0;
    outline-offset: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
}

progress {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    background-size: auto;
    height: 2px;
    width: 100%;
}

progress {
    background: #ebebeb;
    color: #7ec3e9;

    &::-webkit-progress-bar {
        background: #ebebeb;
    }

    &::-moz-progress-bar {
        background: #7ec3e9;
    }

    &::-webkit-progress-value {
        background: #7ec3e9;
    }
}

.mobile {
    display: none;
}

section {
    padding: 70px 0;

    &.grey {
        background-color: #F9F9F9;

        &.border {
            border-top: 1px solid rgba(51, 51, 51, 0.1);
            border-bottom: 1px solid rgba(51, 51, 51, 0.1);
        }
    }
}

/*My style*/