/*Footer*/

footer {
    background-color: #707070;
    padding-top: 40px;
}

.footer-left,
.footer-right {
    max-width: 240px;
}

.footer-logo img {
    width: 170px;
    height: auto;
}

.footer-logo {
    margin-bottom: 15px;
}

.copyright {
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    opacity: 0.7;
}

.footer-center {
    width: 60%;
}

.footer-title {
    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.subscription {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}

.subscription-input {
    background: #434343;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.7);
    width: 100%;
    border-color: #434343;
    padding-right: 41px;
}

.subscription-img {
    width: 21px;
    width: 21px;
    position: absolute;
    right: 15px;
    cursor: pointer;
}

.subscription-tip,
.subscription-tip a {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.7;
}

.subscription-tip {
    margin-bottom: 26px;
}

.developed-by {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: rgba($color: #fff, $alpha: 0.5);
}

.developed-by-img {
    margin-top: 5px;
}

.footer-contacts {
    background-color: #333333;
    padding: 14px 0;
    margin-top: 20px;
}

.social-network {
    display: flex;
    align-items: center;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba($color: #fff, $alpha: 0.5);
}

.social-network span {
    margin-right: 20px;
}

.social-network a {
    margin-right: 10px;
}

.footer-contacts-item {
    display: flex;
    align-items: center;
}

.footer-contacts-item a {
    display: flex;
    align-items: center;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    color: rgba($color: #fff, $alpha: 0.5);
    text-decoration: none;
    margin-left: 40px;
}