@charset "utf-8";

header {
    background-color: #fff;
    padding: 25px 0;
}

.header-bar {
    margin-bottom: 10px;
}

.header-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: max-content;
}

.logo {
    margin-right: 64px;

    &img  {
        height: 50px;
        width: auto;
    }
}

.messengers {
    height: 100%;
    display: flex;
    align-items: center;
}

.messenger {
    background: #8CAEB9;
    border-radius: 3px;
    width: 32px;
    height: 32px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    display: flex;
    align-items: center;
    position: relative;
}

input.search-input {
    padding-right: 46px;
    width: 270px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(51, 51, 51, 0.5);
    transition: 0.4s;

    &:focus {
        color: #333333;
    }
}

.search-img {
    position: absolute;
    right: 20px;
    cursor: pointer;
    height: 21px;
    width: 21px;
    opacity: 0.5;
    transition: 0.4s;
}