@charset "utf-8";

.menu {
    padding-top: 21px;
    border-top: 1px solid #EBEBEB;
}

.menu-item-label {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    color: #3E4F55;
    cursor: pointer;
    border-bottom: 5px solid transparent;
    transition: 0.4s;
}

.menu-item-container {
    position: absolute;
    width: 100%;
    background-color: #D6B762;
    left: 0;
    opacity: 0;
    transition: 0.4s;
    pointer-events: none;
    z-index: 10;
    margin-top: 5px;
}

.menu-item {
    &:hover {
        .menu-item-label {
            border-bottom-color: #D6B762;
        }

        .menu-item-container {
            opacity: 1;
            pointer-events: all;
        }
    }
}

.menu-item-content {
    padding: 40px 0px 55px 80px;
}

.menu-item-title {
    font-family: 'CoFo Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 34px;
    color: #333333;
    margin-bottom: 26px;
}

.menu-item-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 98px;
}

.menu-item-list a {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    opacity: 0.7;
    margin-right: 70px;
    margin-bottom: 20px;
    width: max-content;
    text-decoration: none;

    &:nth-child(3n) {
        margin-bottom: 0;
    }
}

.menu-item-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;
    width: 25%;
    max-width: 440px;
}

.menu-item-bg img {
    width: auto;
    max-width: none;
    height: 100%;
}


/* Footer menu*/

.footer-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.footer-menu-item {
    flex-basis: 33%;
    margin-bottom: 7px;
}

.footer-menu-item a {
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba($color: #fff, $alpha: 0.5);
    text-decoration: none;
}
