<% include ./_common/header/header.html %>

    <% include ./_common/page-title-img/page-title-img.html %>

        <% include ./_common/info-block/info-block-scroll.html %>
            <section id="history" class="grey">
                <div class="container">
                    <img class="info-block-border-top" src="<%= 'images/img-border.svg' %>" alt="border">
                    <h1>История</h1>
                    <div class="flex">
                        <div class="info-block-text">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti a odit laborum culpa
                                nihil? Odio
                                porro fugit unde voluptate excepturi. Cumque repudiandae esse optio, quo sunt maxime
                                magni
                                obcaecati. Nam?
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum voluptates commodi
                                magnam at
                                doloremque. Corrupti rerum itaque dolor. Ad corrupti facere ea laborum, ullam nobis
                                cumque.
                                Asperiores omnis quod natus.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempore sit quibusdam
                                omnis sed. Sint
                                saepe, officiis laborum est perspiciatis at fugit quae vero assumenda, tenetur
                                architecto neque ut
                                nobis.
                            </p>
                            <a class="btn yellow" href="#">Читать подробнее</a>
                        </div>
                        <div class="info-block-img gradient grey">
                            <div class="scroll-slider">
                                <div class="scroll-slider-content">
                                    <div class="scroll-slider-item">
                                        <img src="<%= 'images/no_img.jpg' %>" alt="img" loading="lazy">
                                    </div>
                                    <div class="scroll-slider-item">
                                        <img src="<%= 'images/no_img.jpg' %>" alt="img" loading="lazy">
                                    </div>
                                    <div class="scroll-slider-item">
                                        <img src="<%= 'images/no_img.jpg' %>" alt="img" loading="lazy">
                                    </div>

                                    <div class="scroll-slider-item">
                                        <img src="<%= 'images/no_img.jpg' %>" alt="img" loading="lazy">
                                    </div>
                                    <div class="scroll-slider-item">
                                        <img src="<%= 'images/no_img.jpg' %>" alt="img" loading="lazy">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="news">
                <div class="container">
                    <div class="section-title-block">
                        <div class="section-title">
                            <h2>
                                Новости
                            </h2>
                        </div>
                        <a href="#" class="btn yellow">Все новости</a>
                    </div>
                    <div class="grid-container four-colums">
                        <div class="grid-container-item grey">
                            <img src="images/no_img.jpg" alt="news">
                            <div class="text-content">
                                <h3>Сегодня наш музей посетили учащиеся 1 класса</h3>
                                <div class="date">
                                    15 ноября 2021
                                </div>
                                <a href="#" class="arrow">
                                    Читать новость
                                    <svg width="23" height="9" viewBox="0 0 23 9" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M22.3536 4.85355C22.5488 4.65829 22.5488 4.34171 22.3536 4.14645L19.1716 0.964466C18.9763 0.769204 18.6597 0.769204 18.4645 0.964466C18.2692 1.15973 18.2692 1.47631 18.4645 1.67157L21.2929 4.5L18.4645 7.32843C18.2692 7.52369 18.2692 7.84027 18.4645 8.03553C18.6597 8.2308 18.9763 8.2308 19.1716 8.03553L22.3536 4.85355ZM0 5H22V4H0V5Z"
                                            fill="#333333" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="grid-container-item grey">
                            <img src="images/no_img.jpg" alt="news">
                            <div class="text-content">
                                <h3>Сегодня наш музей посетили учащиеся 1 класса</h3>
                                <div class="date">
                                    15 ноября 2021
                                </div>
                                <a href="#" class="arrow">
                                    Читать новость
                                    <svg width="23" height="9" viewBox="0 0 23 9" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M22.3536 4.85355C22.5488 4.65829 22.5488 4.34171 22.3536 4.14645L19.1716 0.964466C18.9763 0.769204 18.6597 0.769204 18.4645 0.964466C18.2692 1.15973 18.2692 1.47631 18.4645 1.67157L21.2929 4.5L18.4645 7.32843C18.2692 7.52369 18.2692 7.84027 18.4645 8.03553C18.6597 8.2308 18.9763 8.2308 19.1716 8.03553L22.3536 4.85355ZM0 5H22V4H0V5Z"
                                            fill="#333333" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="grid-container-item grey">
                            <img src="images/no_img.jpg" alt="news">
                            <div class="text-content">
                                <h3>Сегодня наш музей посетили учащиеся 1 класса</h3>
                                <div class="date">
                                    15 ноября 2021
                                </div>
                                <a href="#" class="arrow">
                                    Читать новость
                                    <svg width="23" height="9" viewBox="0 0 23 9" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M22.3536 4.85355C22.5488 4.65829 22.5488 4.34171 22.3536 4.14645L19.1716 0.964466C18.9763 0.769204 18.6597 0.769204 18.4645 0.964466C18.2692 1.15973 18.2692 1.47631 18.4645 1.67157L21.2929 4.5L18.4645 7.32843C18.2692 7.52369 18.2692 7.84027 18.4645 8.03553C18.6597 8.2308 18.9763 8.2308 19.1716 8.03553L22.3536 4.85355ZM0 5H22V4H0V5Z"
                                            fill="#333333" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="grid-container-item grey">
                            <img src="images/no_img.jpg" alt="news">
                            <div class="text-content">
                                <h3>Сегодня наш музей посетили учащиеся 1 класса</h3>
                                <div class="date">
                                    15 ноября 2021
                                </div>
                                <a href="#" class="arrow">
                                    Читать новость
                                    <svg width="23" height="9" viewBox="0 0 23 9" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M22.3536 4.85355C22.5488 4.65829 22.5488 4.34171 22.3536 4.14645L19.1716 0.964466C18.9763 0.769204 18.6597 0.769204 18.4645 0.964466C18.2692 1.15973 18.2692 1.47631 18.4645 1.67157L21.2929 4.5L18.4645 7.32843C18.2692 7.52369 18.2692 7.84027 18.4645 8.03553C18.6597 8.2308 18.9763 8.2308 19.1716 8.03553L22.3536 4.85355ZM0 5H22V4H0V5Z"
                                            fill="#333333" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="projects" class="grey">
                <div class="container">
                    <div class="section-title-block">
                        <div class="section-title">
                            <h2>
                                Проекты
                            </h2>
                        </div>
                        <a href="#" class="btn yellow">Показать ещё</a>
                    </div>

                    <div class="grid-container">
                        <div class="grid-container-item">
                            <div class="grid-container-item-bg">
                                <img src="<%= 'images/no_img.jpg' %>" alt="slide">
                            </div>
                            <div class="grid-container-item-title">
                                <h3 class="white">
                                    Заголовок
                                </h3>
                            </div>
                            <div class="grid-container-item-info">
                                <h3 class="white">
                                    Заголовок
                                </h3>
                                <p class="white">
                                    Описание события в несколько строк, в котором раскрываются осовные её
                                    преимущества,
                                    особенности.
                                </p>
                                <a href="#" class="white">
                                    Узнать подробнее
                                    <svg width="23" height="9" viewBox="0 0 23 9" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M22.3536 4.85355C22.5488 4.65829 22.5488 4.34171 22.3536 4.14645L19.1716 0.964466C18.9763 0.769204 18.6597 0.769204 18.4645 0.964466C18.2692 1.15973 18.2692 1.47631 18.4645 1.67157L21.2929 4.5L18.4645 7.32843C18.2692 7.52369 18.2692 7.84027 18.4645 8.03553C18.6597 8.2308 18.9763 8.2308 19.1716 8.03553L22.3536 4.85355ZM0 5H22V4H0V5Z"
                                            fill="white" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="grid-container-item">
                            <div class="grid-container-item-bg">
                                <img src="<%= 'images/no_img.jpg' %>" alt="slide">
                            </div>
                            <div class="grid-container-item-title">
                                <h3 class="white">
                                    Заголовок
                                </h3>
                            </div>
                            <div class="grid-container-item-info">
                                <h3 class="white">
                                    Заголовок
                                </h3>
                                <p class="white">
                                    Описание события в несколько строк, в котором раскрываются осовные её
                                    преимущества,
                                    особенности.
                                </p>
                                <a href="#" class="white">
                                    Узнать подробнее
                                    <svg width="23" height="9" viewBox="0 0 23 9" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M22.3536 4.85355C22.5488 4.65829 22.5488 4.34171 22.3536 4.14645L19.1716 0.964466C18.9763 0.769204 18.6597 0.769204 18.4645 0.964466C18.2692 1.15973 18.2692 1.47631 18.4645 1.67157L21.2929 4.5L18.4645 7.32843C18.2692 7.52369 18.2692 7.84027 18.4645 8.03553C18.6597 8.2308 18.9763 8.2308 19.1716 8.03553L22.3536 4.85355ZM0 5H22V4H0V5Z"
                                            fill="white" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="grid-container-item">
                            <div class="grid-container-item-bg">
                                <img src="<%= 'images/no_img.jpg' %>" alt="slide">
                            </div>
                            <div class="grid-container-item-title">
                                <h3 class="white">
                                    Заголовок
                                </h3>
                            </div>
                            <div class="grid-container-item-info">
                                <h3 class="white">
                                    Заголовок
                                </h3>
                                <p class="white">
                                    Описание события в несколько строк, в котором раскрываются осовные её
                                    преимущества,
                                    особенности.
                                </p>
                                <a href="#" class="white">
                                    Узнать подробнее
                                    <svg width="23" height="9" viewBox="0 0 23 9" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M22.3536 4.85355C22.5488 4.65829 22.5488 4.34171 22.3536 4.14645L19.1716 0.964466C18.9763 0.769204 18.6597 0.769204 18.4645 0.964466C18.2692 1.15973 18.2692 1.47631 18.4645 1.67157L21.2929 4.5L18.4645 7.32843C18.2692 7.52369 18.2692 7.84027 18.4645 8.03553C18.6597 8.2308 18.9763 8.2308 19.1716 8.03553L22.3536 4.85355ZM0 5H22V4H0V5Z"
                                            fill="white" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="volunteers">
                <div class="container">
                    <div class="scroll-slider">
                        <div class="scroll-slider-content">
                            <div class="scroll-slider-item w-4">
                                <img src="<%= 'images/no_img.jpg' %>" alt="img" loading="lazy">
                            </div>
                            <div class="scroll-slider-item w-4">
                                <img src="<%= 'images/no_img.jpg' %>" alt="img" loading="lazy">
                            </div>
                            <div class="scroll-slider-item w-4">
                                <img src="<%= 'images/no_img.jpg' %>" alt="img" loading="lazy">
                            </div>
                            <div class="scroll-slider-item w-4">
                                <img src="<%= 'images/no_img.jpg' %>" alt="img" loading="lazy">
                            </div>
                            <div class="scroll-slider-item w-4">
                                <img src="<%= 'images/no_img.jpg' %>" alt="img" loading="lazy">
                            </div>
                            <div class="scroll-slider-item w-4">
                                <img src="<%= 'images/no_img.jpg' %>" alt="img" loading="lazy">
                            </div>
                        </div>
                    </div>
                    <div class="section-title-block">
                        <div class="section-title">
                            <h2>
                                Стать волонтером
                            </h2>
                            <div class="title-info">
                                Описание к блоку «Стать волонтером» в котором должно раскрываться способ становления
                                волонтером,
                                преимущества волонтерства и пользова для окружающих.
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn yellow">Стать волонтером</a>
                </div>
            </section>

            <section id="exposition" class="grey">
                <div class="container">
                    <h2>Экспозиция</h2>
                    <div class="virtual-tour">
                        <div class="text-content">
                            <h3>Виртуальная экскурсия по музею</h3>
                            <p>
                                Приглашаем на виртуальный тур по залам музея истории Выксунского металлургического
                                завода. Вас ожидает увлекательное путешествие в мир разных эпох и культур.
                            </p>
                        </div>
                        <div class="tours">
                            <div class="tours-item">
                                <div class="tours-item-bg">
                                    <img src="images/no_img.jpg" alt="tour">
                                </div>
                                <div class="text-content">
                                    <h4>I этаж</h4>
                                    <p>описание к первому этажу</p>
                                    <a href="#">Пройти экскурсию</a>
                                </div>
                            </div>
                            <div class="tours-item">
                                <div class="tours-item-bg">
                                    <img src="images/no_img.jpg" alt="tour">
                                </div>
                                <div class="text-content">
                                    <h4>II этаж</h4>
                                    <p>описание к первому этажу</p>
                                    <a href="#">Пройти экскурсию</a>
                                </div>
                            </div>
                            <div class="tours-item">
                                <div class="tours-item-bg">
                                    <img src="images/no_img.jpg" alt="tour">
                                </div>
                                <div class="text-content">
                                    <h4>III этаж</h4>
                                    <p>описание к первому этажу</p>
                                    <a href="#">Пройти экскурсию</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="gallery-block">
                        <img src="images/no_img.jpg" alt="gallery">
                        <h3>Галерея</h3>
                    </div>
                </div>
            </section>

            <section id="collection">
                <div class="container">
                    <h2>Коллекция</h2>
                    <div class="grid-container four-colums">
                        <div class="grid-container-item">
                            <div class="grid-container-item-bg">
                                <img src="<%= 'images/no_img.jpg' %>" alt="slide">
                            </div>
                            <div class="grid-container-item-title">
                                <h3 class="white">
                                    Заголовок
                                </h3>
                            </div>
                            <div class="grid-container-item-info">
                                <h3 class="white">
                                    Заголовок
                                </h3>
                                <p class="white">
                                    Описание события в несколько строк, в котором раскрываются осовные её
                                    преимущества,
                                    особенности.
                                </p>
                                <a href="#" class="white">
                                    Узнать подробнее
                                    <svg width="23" height="9" viewBox="0 0 23 9" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M22.3536 4.85355C22.5488 4.65829 22.5488 4.34171 22.3536 4.14645L19.1716 0.964466C18.9763 0.769204 18.6597 0.769204 18.4645 0.964466C18.2692 1.15973 18.2692 1.47631 18.4645 1.67157L21.2929 4.5L18.4645 7.32843C18.2692 7.52369 18.2692 7.84027 18.4645 8.03553C18.6597 8.2308 18.9763 8.2308 19.1716 8.03553L22.3536 4.85355ZM0 5H22V4H0V5Z"
                                            fill="white" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="grid-container-item">
                            <div class="grid-container-item-bg">
                                <img src="<%= 'images/no_img.jpg' %>" alt="slide">
                            </div>
                            <div class="grid-container-item-title">
                                <h3 class="white">
                                    Заголовок
                                </h3>
                            </div>
                            <div class="grid-container-item-info">
                                <h3 class="white">
                                    Заголовок
                                </h3>
                                <p class="white">
                                    Описание события в несколько строк, в котором раскрываются осовные её
                                    преимущества,
                                    особенности.
                                </p>
                                <a href="#" class="white">
                                    Узнать подробнее
                                    <svg width="23" height="9" viewBox="0 0 23 9" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M22.3536 4.85355C22.5488 4.65829 22.5488 4.34171 22.3536 4.14645L19.1716 0.964466C18.9763 0.769204 18.6597 0.769204 18.4645 0.964466C18.2692 1.15973 18.2692 1.47631 18.4645 1.67157L21.2929 4.5L18.4645 7.32843C18.2692 7.52369 18.2692 7.84027 18.4645 8.03553C18.6597 8.2308 18.9763 8.2308 19.1716 8.03553L22.3536 4.85355ZM0 5H22V4H0V5Z"
                                            fill="white" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="grid-container-item">
                            <div class="grid-container-item-bg">
                                <img src="<%= 'images/no_img.jpg' %>" alt="slide">
                            </div>
                            <div class="grid-container-item-title">
                                <h3 class="white">
                                    Заголовок
                                </h3>
                            </div>
                            <div class="grid-container-item-info">
                                <h3 class="white">
                                    Заголовок
                                </h3>
                                <p class="white">
                                    Описание события в несколько строк, в котором раскрываются осовные её
                                    преимущества,
                                    особенности.
                                </p>
                                <a href="#" class="white">
                                    Узнать подробнее
                                    <svg width="23" height="9" viewBox="0 0 23 9" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M22.3536 4.85355C22.5488 4.65829 22.5488 4.34171 22.3536 4.14645L19.1716 0.964466C18.9763 0.769204 18.6597 0.769204 18.4645 0.964466C18.2692 1.15973 18.2692 1.47631 18.4645 1.67157L21.2929 4.5L18.4645 7.32843C18.2692 7.52369 18.2692 7.84027 18.4645 8.03553C18.6597 8.2308 18.9763 8.2308 19.1716 8.03553L22.3536 4.85355ZM0 5H22V4H0V5Z"
                                            fill="white" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="grid-container-item">
                            <div class="grid-container-item-bg">
                                <img src="<%= 'images/no_img.jpg' %>" alt="slide">
                            </div>
                            <div class="grid-container-item-title">
                                <h3 class="white">
                                    Заголовок
                                </h3>
                            </div>
                            <div class="grid-container-item-info">
                                <h3 class="white">
                                    Заголовок
                                </h3>
                                <p class="white">
                                    Описание события в несколько строк, в котором раскрываются осовные её
                                    преимущества,
                                    особенности.
                                </p>
                                <a href="#" class="white">
                                    Узнать подробнее
                                    <svg width="23" height="9" viewBox="0 0 23 9" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M22.3536 4.85355C22.5488 4.65829 22.5488 4.34171 22.3536 4.14645L19.1716 0.964466C18.9763 0.769204 18.6597 0.769204 18.4645 0.964466C18.2692 1.15973 18.2692 1.47631 18.4645 1.67157L21.2929 4.5L18.4645 7.32843C18.2692 7.52369 18.2692 7.84027 18.4645 8.03553C18.6597 8.2308 18.9763 8.2308 19.1716 8.03553L22.3536 4.85355ZM0 5H22V4H0V5Z"
                                            fill="white" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="grid-container-item">
                            <div class="grid-container-item-bg">
                                <img src="<%= 'images/no_img.jpg' %>" alt="slide">
                            </div>
                            <div class="grid-container-item-title">
                                <h3 class="white">
                                    Заголовок
                                </h3>
                            </div>
                            <div class="grid-container-item-info">
                                <h3 class="white">
                                    Заголовок
                                </h3>
                                <p class="white">
                                    Описание события в несколько строк, в котором раскрываются осовные её
                                    преимущества,
                                    особенности.
                                </p>
                                <a href="#" class="white">
                                    Узнать подробнее
                                    <svg width="23" height="9" viewBox="0 0 23 9" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M22.3536 4.85355C22.5488 4.65829 22.5488 4.34171 22.3536 4.14645L19.1716 0.964466C18.9763 0.769204 18.6597 0.769204 18.4645 0.964466C18.2692 1.15973 18.2692 1.47631 18.4645 1.67157L21.2929 4.5L18.4645 7.32843C18.2692 7.52369 18.2692 7.84027 18.4645 8.03553C18.6597 8.2308 18.9763 8.2308 19.1716 8.03553L22.3536 4.85355ZM0 5H22V4H0V5Z"
                                            fill="white" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="grid-container-item">
                            <div class="grid-container-item-bg">
                                <img src="<%= 'images/no_img.jpg' %>" alt="slide">
                            </div>
                            <div class="grid-container-item-title">
                                <h3 class="white">
                                    Заголовок
                                </h3>
                            </div>
                            <div class="grid-container-item-info">
                                <h3 class="white">
                                    Заголовок
                                </h3>
                                <p class="white">
                                    Описание события в несколько строк, в котором раскрываются осовные её
                                    преимущества,
                                    особенности.
                                </p>
                                <a href="#" class="white">
                                    Узнать подробнее
                                    <svg width="23" height="9" viewBox="0 0 23 9" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M22.3536 4.85355C22.5488 4.65829 22.5488 4.34171 22.3536 4.14645L19.1716 0.964466C18.9763 0.769204 18.6597 0.769204 18.4645 0.964466C18.2692 1.15973 18.2692 1.47631 18.4645 1.67157L21.2929 4.5L18.4645 7.32843C18.2692 7.52369 18.2692 7.84027 18.4645 8.03553C18.6597 8.2308 18.9763 8.2308 19.1716 8.03553L22.3536 4.85355ZM0 5H22V4H0V5Z"
                                            fill="white" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="grid-container-item">
                            <div class="grid-container-item-bg">
                                <img src="<%= 'images/no_img.jpg' %>" alt="slide">
                            </div>
                            <div class="grid-container-item-title">
                                <h3 class="white">
                                    Заголовок
                                </h3>
                            </div>
                            <div class="grid-container-item-info">
                                <h3 class="white">
                                    Заголовок
                                </h3>
                                <p class="white">
                                    Описание события в несколько строк, в котором раскрываются осовные её
                                    преимущества,
                                    особенности.
                                </p>
                                <a href="#" class="white">
                                    Узнать подробнее
                                    <svg width="23" height="9" viewBox="0 0 23 9" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M22.3536 4.85355C22.5488 4.65829 22.5488 4.34171 22.3536 4.14645L19.1716 0.964466C18.9763 0.769204 18.6597 0.769204 18.4645 0.964466C18.2692 1.15973 18.2692 1.47631 18.4645 1.67157L21.2929 4.5L18.4645 7.32843C18.2692 7.52369 18.2692 7.84027 18.4645 8.03553C18.6597 8.2308 18.9763 8.2308 19.1716 8.03553L22.3536 4.85355ZM0 5H22V4H0V5Z"
                                            fill="white" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="grid-container-item">
                            <div class="grid-container-item-bg">
                                <img src="<%= 'images/no_img.jpg' %>" alt="slide">
                            </div>
                            <div class="grid-container-item-title">
                                <h3 class="white">
                                    Заголовок
                                </h3>
                            </div>
                            <div class="grid-container-item-info">
                                <h3 class="white">
                                    Заголовок
                                </h3>
                                <p class="white">
                                    Описание события в несколько строк, в котором раскрываются осовные её
                                    преимущества,
                                    особенности.
                                </p>
                                <a href="#" class="white">
                                    Узнать подробнее
                                    <svg width="23" height="9" viewBox="0 0 23 9" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M22.3536 4.85355C22.5488 4.65829 22.5488 4.34171 22.3536 4.14645L19.1716 0.964466C18.9763 0.769204 18.6597 0.769204 18.4645 0.964466C18.2692 1.15973 18.2692 1.47631 18.4645 1.67157L21.2929 4.5L18.4645 7.32843C18.2692 7.52369 18.2692 7.84027 18.4645 8.03553C18.6597 8.2308 18.9763 8.2308 19.1716 8.03553L22.3536 4.85355ZM0 5H22V4H0V5Z"
                                            fill="white" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="media-library" class="grey">
                <div class="container">
                    <h2>Медиатека</h2>
                    <div class="grid-container">
                        <div class="grid-container-item">
                            <div class="media-library-block media-library-video">
                                <img src="images/popcorn.png" alt="popcorn" class="img-left">
                                <img src="images/projector.png" alt="projector" class="img-right">
                                <div class="media-library-text">
                                    <h3>Видео</h3>
                                    <p>Небольшой текст к блоку с видео, который отображает основную суть блока и
                                        мотивирует к изучению</p>
                                    <a href="#" class="arrow">
                                        Видео про нас и о нас
                                        <svg width="23" height="9" viewBox="0 0 23 9" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M22.3536 4.85355C22.5488 4.65829 22.5488 4.34171 22.3536 4.14645L19.1716 0.964466C18.9763 0.769204 18.6597 0.769204 18.4645 0.964466C18.2692 1.15973 18.2692 1.47631 18.4645 1.67157L21.2929 4.5L18.4645 7.32843C18.2692 7.52369 18.2692 7.84027 18.4645 8.03553C18.6597 8.2308 18.9763 8.2308 19.1716 8.03553L22.3536 4.85355ZM0 5H22V4H0V5Z"
                                                fill="#333333" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="grid-container-item">
                            <div class="media-library-block">
                                <img src="images/photo-wall.png" alt="photo-wall" class="img-right">
                                <div class="media-library-text">
                                    <h3>Фотогалерея</h3>
                                    <p>Следите за событиями, которые проходят в музее, на фотографиях в наших социальных
                                        сетях. Мы регулярно выкладываем отчеты с мероприятий, выставок и концертов.</p>
                                    <div class="media-library-links">
                                        <a href="#">
                                            ВКонтакте
                                        </a>
                                        <a href="#">
                                            Инстаграм
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-container-item">
                            <div class="media-library-block media-library-guides">
                                <img src="images/headphones.png" alt="headphones" class="img-right">
                                <div class="media-library-text">
                                    <h3>Аудиогиды</h3>
                                    <div class="guide-player">
                                        <div class="guide-name">
                                            Демо аудиогид к экскурсии
                                        </div>
                                        <div class="guide-controls">
                                            <div class="play">
                                                <svg width="29" height="29" viewBox="0 0 29 29" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M28.0279 14.5C28.0279 6.49187 21.7536 0 14.0139 0C6.27426 0 0 6.49187 0 14.5C0 22.5081 6.27426 29 14.0139 29C21.7536 29 28.0279 22.5081 28.0279 14.5Z"
                                                        fill="white" />
                                                    <path
                                                        d="M14.0139 0.5C21.4616 0.5 27.5279 6.75181 27.5279 14.5C27.5279 22.2482 21.4616 28.5 14.0139 28.5C6.56633 28.5 0.5 22.2482 0.5 14.5C0.5 6.75181 6.56633 0.5 14.0139 0.5Z"
                                                        stroke="#333333" stroke-opacity="0.5" />
                                                    <path
                                                        d="M18.3781 14.7674L11.5002 19.6229C11.4483 19.6594 11.3869 19.6788 11.3241 19.6788C11.241 19.6788 11.1613 19.6446 11.1025 19.5838C11.0438 19.523 11.0107 19.4406 11.0107 19.3546V9.64583C11.0109 9.58697 11.0265 9.52927 11.056 9.47891C11.0854 9.42855 11.1275 9.38743 11.1778 9.35997C11.2282 9.33251 11.2847 9.31973 11.3415 9.32302C11.3983 9.3263 11.4532 9.34552 11.5002 9.37862L18.3781 14.233C18.4202 14.2626 18.4547 14.3025 18.4785 14.3491C18.5023 14.3956 18.5148 14.4475 18.5148 14.5002C18.5148 14.5529 18.5023 14.6048 18.4785 14.6514C18.4547 14.698 18.4202 14.7378 18.3781 14.7674V14.7674Z"
                                                        fill="#333333" />
                                                    <path
                                                        d="M18.0897 14.359C18.0899 14.3588 18.0901 14.3587 18.0904 14.3585L18.1882 14.4976L18.1898 14.4998L18.1901 14.5002L18.1941 14.5059L18.378 14.7674L18.1931 14.5054L18.1898 14.5007L18.1895 14.5002L18.1894 14.5002L18.1877 14.4978L18.0897 14.359ZM17.8896 14.5002L11.5107 19.0034V9.99803L17.8896 14.5002Z"
                                                        stroke="#333333" stroke-opacity="0.5" />
                                                </svg>
                                            </div>
                                            <div class="track-bar">
                                            </div>
                                            <div class="track-time">
                                                1:02
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h3>Экспозиция</h3>
                    <div class="scroll-slider">
                        <div class="scroll-slider-content">
                            <div class="scroll-slider-item exposition-group">
                                <div class="exposition-item">
                                    <div class="exposition-item-bg">
                                        <img src="images/no_img.jpg" alt="exposition">
                                    </div>
                                    <h3>Находки дома Боташевых</h3>
                                </div>
                                <div class="exposition-item">
                                    <div class="exposition-item-bg">
                                        <img src="images/no_img.jpg" alt="exposition">
                                    </div>
                                    <h3>Находки дома Боташевых</h3>
                                </div>
                            </div>
                            <div class="scroll-slider-item exposition-group">
                                <div class="exposition-item">
                                    <div class="exposition-item-bg">
                                        <img src="images/no_img.jpg" alt="exposition">
                                    </div>
                                    <h3>Находки дома Боташевых</h3>
                                </div>
                                <div class="exposition-item">
                                    <div class="exposition-item-bg">
                                        <img src="images/no_img.jpg" alt="exposition">
                                    </div>
                                    <h3>Находки дома Боташевых</h3>
                                </div>
                            </div>
                            <div class="scroll-slider-item exposition-group">
                                <div class="exposition-item">
                                    <div class="exposition-item-bg">
                                        <img src="images/no_img.jpg" alt="exposition">
                                    </div>
                                    <h3>Находки дома Боташевых</h3>
                                </div>
                                <div class="exposition-item">
                                    <div class="exposition-item-bg">
                                        <img src="images/no_img.jpg" alt="exposition">
                                    </div>
                                    <h3>Находки дома Боташевых</h3>
                                </div>
                            </div>
                            <div class="scroll-slider-item exposition-group">
                                <div class="exposition-item">
                                    <div class="exposition-item-bg">
                                        <img src="images/no_img.jpg" alt="exposition">
                                    </div>
                                    <h3>Находки дома Боташевых</h3>
                                </div>
                                <div class="exposition-item">
                                    <div class="exposition-item-bg">
                                        <img src="images/no_img.jpg" alt="exposition">
                                    </div>
                                    <h3>Находки дома Боташевых</h3>
                                </div>
                            </div>
                            <div class="scroll-slider-item exposition-group">
                                <div class="exposition-item">
                                    <div class="exposition-item-bg">
                                        <img src="images/no_img.jpg" alt="exposition">
                                    </div>
                                    <h3>Находки дома Боташевых</h3>
                                </div>
                                <div class="exposition-item">
                                    <div class="exposition-item-bg">
                                        <img src="images/no_img.jpg" alt="exposition">
                                    </div>
                                    <h3>Находки дома Боташевых</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="publications">
                <div class="container">
                    <div class="section-title-block">
                        <div class="section-title">
                            <h2>
                                Издания и публикации
                            </h2>
                        </div>
                        <a href="#" class="btn yellow">Все публикации</a>
                    </div>
                    <div class="grid-container four-colums">
                        <div class="grid-container-item grey">
                            <img src="images/no_img.jpg" alt="news">
                            <div class="text-content">
                                <h3>Я, конечно, не поэт</h3>
                            </div>
                        </div>
                        <div class="grid-container-item grey">
                            <img src="images/no_img.jpg" alt="news">
                            <div class="text-content">
                                <h3>Я, конечно, не поэт</h3>
                            </div>
                        </div>
                        <div class="grid-container-item grey">
                            <img src="images/no_img.jpg" alt="news">
                            <div class="text-content">
                                <h3>Я, конечно, не поэт</h3>
                            </div>
                        </div>
                        <div class="grid-container-item grey">
                            <img src="images/no_img.jpg" alt="news">
                            <div class="text-content">
                                <h3>Я, конечно, не поэт</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="awards" class="grey">
                <div class="container">
                    <h2>Наши награды</h2>
                    <div class="tabs">
                        <div class="tabs-head">
                            <div class="tabs-title active">
                                2018
                            </div>
                            <div class="tabs-title">
                                2019
                            </div>
                            <div class="tabs-title">
                                2020
                            </div>
                            <div class="tabs-title">
                                2021
                            </div>
                        </div>
                        <div class="tabs-body">
                            <div class="tab-content active">
                                <div class="scroll-slider">
                                    <div class="scroll-slider-content">
                                        <div class="scroll-slider-item">
                                            <img src="images/no_img.jpg" alt="diploma" width="auto" height="270">
                                        </div>
                                        <div class="scroll-slider-item">
                                            <img src="images/no_img.jpg" alt="diploma" width="auto" height="270">
                                        </div>
                                        <div class="scroll-slider-item">
                                            <img src="images/no_img.jpg" alt="diploma" width="auto" height="270">
                                        </div>
                                        <div class="scroll-slider-item">
                                            <img src="images/no_img.jpg" alt="diploma" width="auto" height="270">
                                        </div>
                                        <div class="scroll-slider-item">
                                            <img src="images/no_img.jpg" alt="diploma" width="auto" height="270">
                                        </div>
                                        <div class="scroll-slider-item">
                                            <img src="images/no_img.jpg" alt="diploma" width="auto" height="270">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div class="scroll-slider">
                                    <div class="scroll-slider-content">
                                        <div class="scroll-slider-item">
                                            <img src="images/no_img.jpg" alt="diploma" width="auto" height="270">
                                        </div>
                                        <div class="scroll-slider-item">
                                            <img src="images/no_img.jpg" alt="diploma" width="auto" height="270">
                                        </div>
                                        <div class="scroll-slider-item">
                                            <img src="images/no_img.jpg" alt="diploma" width="auto" height="270">
                                        </div>
                                        <div class="scroll-slider-item">
                                            <img src="images/no_img.jpg" alt="diploma" width="auto" height="270">
                                        </div>
                                        <div class="scroll-slider-item">
                                            <img src="images/no_img.jpg" alt="diploma" width="auto" height="270">
                                        </div>
                                        <div class="scroll-slider-item">
                                            <img src="images/no_img.jpg" alt="diploma" width="auto" height="270">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div class="scroll-slider">
                                    <div class="scroll-slider-content">
                                        <div class="scroll-slider-item">
                                            <img src="images/no_img.jpg" alt="diploma" width="auto" height="270">
                                        </div>
                                        <div class="scroll-slider-item">
                                            <img src="images/no_img.jpg" alt="diploma" width="auto" height="270">
                                        </div>
                                        <div class="scroll-slider-item">
                                            <img src="images/no_img.jpg" alt="diploma" width="auto" height="270">
                                        </div>
                                        <div class="scroll-slider-item">
                                            <img src="images/no_img.jpg" alt="diploma" width="auto" height="270">
                                        </div>
                                        <div class="scroll-slider-item">
                                            <img src="images/no_img.jpg" alt="diploma" width="auto" height="270">
                                        </div>
                                        <div class="scroll-slider-item">
                                            <img src="images/no_img.jpg" alt="diploma" width="auto" height="270">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div class="scroll-slider">
                                    <div class="scroll-slider-content">
                                        <div class="scroll-slider-item">
                                            <img src="images/no_img.jpg" alt="diploma" width="auto" height="270">
                                        </div>
                                        <div class="scroll-slider-item">
                                            <img src="images/no_img.jpg" alt="diploma" width="auto" height="270">
                                        </div>
                                        <div class="scroll-slider-item">
                                            <img src="images/no_img.jpg" alt="diploma" width="auto" height="270">
                                        </div>
                                        <div class="scroll-slider-item">
                                            <img src="images/no_img.jpg" alt="diploma" width="auto" height="270">
                                        </div>
                                        <div class="scroll-slider-item">
                                            <img src="images/no_img.jpg" alt="diploma" width="auto" height="270">
                                        </div>
                                        <div class="scroll-slider-item">
                                            <img src="images/no_img.jpg" alt="diploma" width="auto" height="270">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="contacts">
                <% include ./_common/contacts-block/contacts-block.html %>
            </section>

            <% include ./_common/footer/footer.html %>