<header>
    <div class="container no-relative">
        <div class="header-bar row jc-sb">
            <div class="header-group">
                <div class="logo">
                    <a href="#">
                        <img src="<%= 'images/logo.svg' %>" alt="logo">
                    </a>
                </div>
                <div class="messengers">
                    <a href="#" class="messenger">
                        <img src="<%= 'images/vk.svg' %>" alt="vk">
                    </a>
                    <a href="#" class="messenger">
                        <img src="<%= 'images/inst.svg' %>" alt="inst">
                    </a>
                </div>
            </div>
            <div class="header-group">
                <form class="search">
                    <input class="search-input" type="text" name="s" placeholder="Поиск по сайту">
                    <img src="<%= 'images/search.svg' %>" alt="search" class="search-img">
                </form>
                <button class="black">
                    <img src="<%= 'images/eye.svg' %>" alt="eye">
                    Версия для слабовидящих
                </button>
            </div>
        </div>
        <div class="menu row jc-sb">
            <div class="menu-item">
                <div class="menu-item-label">
                    Посетителям
                </div>
                <div class="menu-item-container row jc-sb">
                    <div class="menu-item-content">
                        <div class="menu-item-title">
                            Посетителям
                        </div>
                        <div class="menu-item-list">
                            <a href="#">
                                Билеты и льготы
                            </a>
                            <a href="#">
                                Часы работы
                            </a>
                            <a href="#">
                                Полезная информация
                            </a>
                            <a href="#">
                                Услуги
                            </a>
                            <a href="#">
                                Правила посещения
                            </a>
                            <a href="#">
                                Контакты и обратная связь
                            </a>
                        </div>
                    </div>
                    <div class="menu-item-bg">
                        <img src="<%= 'images/menu-bg.png' %>" alt="menu-item-bg">
                    </div>
                </div>
            </div>
            <div class="menu-item">
                <div class="menu-item-label">
                    События и программы
                </div>
                <div class="menu-item-container row jc-sb">
                    <div class="menu-item-content">
                        <div class="menu-item-title">
                            События и программы
                        </div>
                        <div class="menu-item-list">
                            <a href="#">
                                Билеты и льготы
                            </a>
                            <a href="#">
                                Часы работы
                            </a>
                            <a href="#">
                                Полезная информация
                            </a>
                            <a href="#">
                                Услуги
                            </a>
                            <a href="#">
                                Правила посещения
                            </a>
                            <a href="#">
                                Контакты и обратная связь
                            </a>
                        </div>
                    </div>
                    <div class="menu-item-bg">
                        <img src="<%= 'images/menu-bg.png' %>" alt="menu-item-bg">
                    </div>
                </div>
            </div>
            <div class="menu-item">
                <div class="menu-item-label">
                    Экскурсии
                </div>
                <div class="menu-item-container row jc-sb">
                    <div class="menu-item-content">
                        <div class="menu-item-title">
                            Экскурсии
                        </div>
                        <div class="menu-item-list">
                            <a href="#">
                                Билеты и льготы
                            </a>
                            <a href="#">
                                Часы работы
                            </a>
                            <a href="#">
                                Полезная информация
                            </a>
                            <a href="#">
                                Услуги
                            </a>
                            <a href="#">
                                Правила посещения
                            </a>
                            <a href="#">
                                Контакты и обратная связь
                            </a>
                        </div>
                    </div>
                    <div class="menu-item-bg">
                        <img src="<%= 'images/menu-bg.png' %>" alt="menu-item-bg">
                    </div>
                </div>
            </div>
            <div class="menu-item">
                <div class="menu-item-label">
                    Выставки
                </div>
                <div class="menu-item-container row jc-sb">
                    <div class="menu-item-content">
                        <div class="menu-item-title">
                            Выставки
                        </div>
                        <div class="menu-item-list">
                            <a href="#">
                                Билеты и льготы
                            </a>
                            <a href="#">
                                Часы работы
                            </a>
                            <a href="#">
                                Полезная информация
                            </a>
                            <a href="#">
                                Услуги
                            </a>
                            <a href="#">
                                Правила посещения
                            </a>
                            <a href="#">
                                Контакты и обратная связь
                            </a>
                        </div>
                    </div>
                    <div class="menu-item-bg">
                        <img src="<%= 'images/menu-bg.png' %>" alt="menu-item-bg">
                    </div>
                </div>
            </div>
            <div class="menu-item">
                <div class="menu-item-label">
                    Музей — детям
                </div>
                <div class="menu-item-container row jc-sb">
                    <div class="menu-item-content">
                        <div class="menu-item-title">
                            Музей — детям
                        </div>
                        <div class="menu-item-list">
                            <a href="#">
                                Билеты и льготы
                            </a>
                            <a href="#">
                                Часы работы
                            </a>
                            <a href="#">
                                Полезная информация
                            </a>
                            <a href="#">
                                Услуги
                            </a>
                            <a href="#">
                                Правила посещения
                            </a>
                            <a href="#">
                                Контакты и обратная связь
                            </a>
                        </div>
                    </div>
                    <div class="menu-item-bg">
                        <img src="<%= 'images/menu-bg.png' %>" alt="menu-item-bg">
                    </div>
                </div>
            </div>
            <div class="menu-item">
                <div class="menu-item-label">
                    Промышленный туризм
                </div>
            </div>
            <div class="menu-item">
                <div class="menu-item-label">
                    Доступный музей
                </div>
            </div>
            <div class="menu-item">
                <div class="menu-item-label">
                    ProГУЛ
                </div>
            </div>
            <div class="menu-item">
                <div class="menu-item-label">
                    О музее
                </div>
            </div>
        </div>
    </div>
</header>